<html>
<head>
	<title><%=r.name%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<header class="w3-container w3-teal">
	<h1><%=r.name%></h1>
</header>
<br>
<div class="w3-container">
	<p><label class="w3-label w3-validate">Borough: </label><%=r.borough%></p>
	<p><label class="w3-label w3-validate">Cuisine: </label><%=r.cuisine%></p>
	<p><label class="w3-label w3-validate">Street: </label><%=r.street%></p>
	<p><label class="w3-label w3-validate">Building: </label><%=r.building%></p>
	<p><label class="w3-label w3-validate">Zipcode: </label><%=r.zipcode%></p>
	<p><label class="w3-label w3-validate">GPS: </label>[<%=r.lon%>,<%=r.lat%>]</p>
	<p><label class="w3-label w3-validate">Rating: </label><%=r.rating%></p>
	<p><label class="w3-label w3-validate">Created by: </label><%=r.owner%></p>
</div>
Google Map
</body>
</html>
